$whi: #fff;
$grn: #56B280;
$nav_link_cr: #272727;
$header_text: #1D252C;
$prod_cl: #0B254B;
$prod_text: #5E6E89;
$prod_bg: #F7F8FA;
$prod_title: #1D293F;
$black: #000;
$tes_text_p: #7C8087;
$foor_li: #E1E1E1;
$tes_bg: rgba(86, 178, 128, 0.10);

